/* for font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

*html {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.darkest {
    background-color: rgba(26, 11, 46, 1);
}

.text-white {
    color: white;
}

.text-green {
    color: #00FF88;
}

.gradient-color {
    background: linear-gradient(47.64deg,
            rgba(247, 233, 63, 1),
            rgba(251, 9, 180, 1),
            rgba(145, 0, 248, 1));
}

.for-margin {
    max-width: 1200px;
    margin: 0 auto;
}

.ham-container {
    display: none;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
}

#wave {
    background: linear-gradient(47.64deg,
            rgba(247, 233, 63, 1),
            rgba(251, 9, 180, 1),
            rgba(145, 0, 248, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


nav a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 500;
}

nav li {
    list-style: none;
}


.nav-list {
    display: flex;
    gap: 32px;

}

.nav-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 12px 16px;
    border: none;
    border-radius: 10000px;
    font-size: 1rem;
    font-weight: 600;
}

/* banner */

.banner-container {
    background-image: url('./assets/hero-bg.png');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.img-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle-img {

    width: 23vw;
    /* max-width: 350px; */
    position: relative;
}

.microphone {
    position: absolute;
    width: 8vw;
}

.badge-container {
    position: absolute;
    height: 38px;
    width: 75px;
    font-size: 1.125rem;
    font-weight: 600;
    background-color: #00FF88;
    border-radius: 1000px;
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 28%;
    left: 55%;
}

.banner-content {
    text-align: center;
}

.banner-content h1 {
    margin-top: 40px;
    font-size: 3.75rem;
    font-weight: 800;
}

.banner-content p {
    margin-top: 24px;
    margin-bottom: 24px;
    font-size: 1rem;
    font-weight: 400;
}

.banner-btn1 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 12px 20px;
    border: none;
    border-radius: 10000px;
    font-size: 1rem;
    font-weight: 600;

}

.banner-btn2 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 12px 20px;
    border: 1px solid #00FF88;
    border-radius: 10000px;
    background: transparent;
    font-size: 1rem;
    font-weight: 600;
}

.banner-2-btn-container {
    display: flex;
    justify-content: center;
    gap: 8px;

}

/* about the podcast section */

.Podcast-con {
    color: white;
    padding-top: 30px;
    text-align: center;

}

.Podcast-con h1 {
    font-size: 3rem;
    font-weight: 700;
}

.p1 {
    font-size: 1rem;
    font-weight: 400;
    line-height: 30px;
    padding-top: 10px;

}

.p2 {
    padding-bottom: 80px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.107);
}

.highlight-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 80px;
    text-align: center;
}

.highlight-container h1 {
    font-size: 3rem;
    font-weight: 900;
    color: #00FF88;
}

.highlight-container p {
    font-size: 1rem;
    font-weight: 400;
    color: white;
    padding-top: 16px;
    padding-bottom: 120px;
}

/* techwave section */
.techwave-sec {
    background-color: rgba(35, 14, 61, 1);
    padding-top: 120px;
    padding-bottom: 120px;
}

.techwave-sec h1 {
    font-size: 3rem;
    text-align: center;
    padding-bottom: 40px;

}

.grid-box-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;

}

.box1,
.box2,
.box3,
.box4,
.box5 {

    background-color: rgba(53, 17, 101, 0.4);
    border: none;
    border-radius: 40px;

}

.grid-box-container h2 {
    padding-top: 21px;
    padding-bottom: 24px;
    font-size: 1.5rem;
    font-weight: 700;
}

.grid-box-container p {

    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
}

.box1 {
    grid-row: span 2;
    padding: 110px 40px;

}

.box2 {
    grid-column: span 2;
    padding: 42px 50px;
}

.box3 {
    grid-column: span 2;
    padding: 42px 50px;
}

.box4 {
    grid-column: span 2;
    padding: 45px 42px;
}

.box5 {

    padding: 45px 42px;
}

/* feature episode section */
.featured-ep-sec {
    padding-top: 100px;
    padding-bottom: 120px;
}

.featured-ep-sec h1 {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    padding-bottom: 40px;
}

.clock-con {
    display: inline-flex;
    gap: 8px;
    padding-left: 24px;
    padding-bottom: 24px;
}

.card-1 {
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 24px;
    max-width: 380px;

}



.card-1 h2 {
    padding-left: 24px;
    padding-top: 24px;

}

.card-p {
    font-size: 1rem;
    font-weight: 400;
    padding-left: 24px;

}

.clock-con p {
    font-size: 1rem;
    font-weight: 600;

}

.card-container {
    display: flex;
    gap: 30px;
}

.for-border {
    border-radius: 24px 24px 0 0;
}

/* meet the host section */

.meet-host h1 {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    padding-bottom: 40px;

}

.alex-con {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    padding: 40px;
}

.alex-contents {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.alex-contents h2 {
    font-size: 2rem;
    font-weight: 700;
}

.alex-contents p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
}

.for-round {
    border: 1px solid rgba(83, 60, 114, 1);
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.icons-con {
    display: flex;
    gap: 8px;
}

.icon img {
    height: 16px;
    width: 16px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.meet-host-sec {
    padding-bottom: 120px;
}

/* footer */
footer {
    background-image: url('./assets/footer-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* height: 412px; */
    padding: 100px 20px;
    display: flex;
    flex-direction: column;
    gap: 35px;
    justify-content: center;
    align-items: center;


}

.content-foot {
    font-size: 1rem;
    font-weight: 500;
}

.foot-sm {
    font-size: 1rem;
    font-weight: 400;
}


.foot-icon {
    display: flex;
    gap: 10px;
}

.footer-icons {
    display: grid;
    grid-template-columns: repeat(4, auto);
    column-gap: 42px;
}


/* responsive */

@media screen and (max-width:576px) {


    .nav-list-container,
    .nav-btn-container {
        display: none;
    }

    .nav-container {
        padding: 20px 20px;
    }

    .ham-container {
        display: block;
    }


    .circle-img {
        width: 43vw;
        max-width: 350px;
        position: relative;
    }

    .microphone {
        position: absolute;
        width: 11vw;
    }

    .banner-content h1 {
        margin-top: 20px;
        font-size: 2.5rem;

    }

    .banner-content p {
        margin-top: 8px;
        max-width: 400px;
        line-height: 19px;
    }

    /* for podcast section */

    .Podcast-con {
        max-width: 400px;
        padding-top: 0px;

    }

    .Podcast-con h1 {
        font-size: 2rem;

    }

    .p1 {
        line-height: 20px;
        padding-top: 16px;

    }

    .p-break {
        display: none;
    }

    .p2 {
        padding-bottom: 40px;
    }

    .highlight-container {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 40px;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .highlight-container p {
        padding-bottom: 0px;
    }

    /* grid items */
    .grid-box-container {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        margin-right: 20px;

    }

    .techwave-sec h1 {
        font-size: 2rem;
        padding-bottom: 20px;

    }

    .techwave-sec {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .box1,
    .box2,
    .box3,
    .box4,
    .box5 {
        padding: 29px;
    }

    .grid-box-container h2 {

        font-size: 1.38rem;
    }

    /* feature section */

    .featured-ep-sec h1 {
        font-size: 2rem;
        padding-bottom: 20px;

    }

    .card-container {
        flex-direction: column;
        align-items: center;
    }

    .card-1 {
        max-width: 92%;
    }

    .for-mbl-width {
        width: 100%;
    }

    .featured-ep-sec {
        padding-top: 50px;
        padding-bottom: 60px;
    }

    /* meet host section */

    .meet-host h1 {
        font-size: 2rem;
        padding-bottom: 24px;

    }

    .alex-contents h2 {
        font-size: 1.5rem;
        text-align: center;
    }

    .alex-contents p {
        text-align: center;
    }

    .alex-con {
        display: flex;
        flex-direction: column;
    }

    .meet-host {
        padding-left: 20px;
        padding-right: 20px;
    }

    .icons-con {
        justify-content: center;
    }

    .meet-host-sec {
        padding-bottom: 40px;
    }

    /* for footer */

    footer {
        background-size: 100% 100%;

    }


    .footer-icons {
        grid-template-columns: repeat(2, auto);
        column-gap: 42px;
        row-gap: 21px;
        place-items: center;

    }

}