/* for font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.darkest {
    background-color: rgba(26, 11, 46, 1);
}

.text-white {
    color: white;
}

.text-green {
    color: #00FF88;
}

.gradient-color {
    background: linear-gradient(47.64deg,
            rgba(247, 233, 63, 1),
            rgba(251, 9, 180, 1),
            rgba(145, 0, 248, 1));
}

.for-margin {
    max-width: 1200px;
    margin: 0 auto;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
}

#wave {
    background: linear-gradient(47.64deg,
            rgba(247, 233, 63, 1),
            rgba(251, 9, 180, 1),
            rgba(145, 0, 248, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


nav a {
    text-decoration: none;
    color: white;
}

nav li {
    list-style: none;
}


.nav-list {
    display: flex;
    gap: 32px;

}

.nav-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 12px 16px;
    border: none;
    border-radius: 10000px;
}

/* banner */

.banner-container {
    background-image: url('./assets/hero-bg.png');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.img-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle-img {
    height: 350px;
    width: 350px;
    position: relative;
}

.microphone {
    position: absolute;
}

.badge-container {
    position: absolute;
    height: 38px;
    width: 75px;
    background-color: #00FF88;
    border-radius: 1000px;
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 28%;
    left: 55%;
}

.banner-content {
    text-align: center;
}

.banner-content h1 {
    margin-top: 40px;
}

.banner-content p {
    margin-top: 24px;
    margin-bottom: 24px;
}

.banner-btn1 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 12px 20px;
    border: none;
    border-radius: 10000px;
}

.banner-btn2 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 12px 20px;
    border: 1px solid #00FF88;
    border-radius: 10000px;
    background: transparent;
}

.banner-2-btn-container {
    display: flex;
    justify-content: center;
    gap: 8px;

}