/* for font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

*html {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.darkest {
    background-color: rgba(26, 11, 46, 1);
}

.text-white {
    color: white;
}

.text-green {
    color: #00FF88;
}

.gradient-color {
    background: linear-gradient(47.64deg,
            rgba(247, 233, 63, 1),
            rgba(251, 9, 180, 1),
            rgba(145, 0, 248, 1));
}

.for-margin {
    max-width: 1200px;
    margin: 0 auto;
}

.ham-container {
    display: none;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
}

#wave {
    background: linear-gradient(47.64deg,
            rgba(247, 233, 63, 1),
            rgba(251, 9, 180, 1),
            rgba(145, 0, 248, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


nav a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 500;
}

nav li {
    list-style: none;
}


.nav-list {
    display: flex;
    gap: 32px;

}

.nav-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 12px 16px;
    border: none;
    border-radius: 10000px;
    font-size: 1rem;
    font-weight: 600;
}

/* banner */

.banner-container {
    background-image: url('./assets/hero-bg.png');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.img-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle-img {
    /* height: 350px; */
    width: 23vw;
    max-width: 350px;
    position: relative;
}

.microphone {
    position: absolute;
    width: 8vw;
}

.badge-container {
    position: absolute;
    height: 38px;
    width: 75px;
    font-size: 1.125rem;
    font-weight: 600;
    background-color: #00FF88;
    border-radius: 1000px;
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 28%;
    left: 55%;
}

.banner-content {
    text-align: center;
}

.banner-content h1 {
    margin-top: 40px;
    font-size: 3.75rem;
    font-weight: 800;
}

.banner-content p {
    margin-top: 24px;
    margin-bottom: 24px;
    font-size: 1rem;
    font-weight: 400;
}

.banner-btn1 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 12px 20px;
    border: none;
    border-radius: 10000px;
    font-size: 1rem;
    font-weight: 600;

}

.banner-btn2 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 12px 20px;
    border: 1px solid #00FF88;
    border-radius: 10000px;
    background: transparent;
    font-size: 1rem;
    font-weight: 600;
}

.banner-2-btn-container {
    display: flex;
    justify-content: center;
    gap: 8px;

}

/* about the podcast section */





/* responsive */

@media screen and (max-width:576px) {


    .nav-list-container,
    .nav-btn-container {
        display: none;
    }

    .nav-container {
        padding: 20px 20px;
    }

    .ham-container {
        display: block;
    }


    .circle-img {
        width: 43vw;
        max-width: 350px;
        position: relative;
    }

    .microphone {
        position: absolute;
        width: 11vw;
    }

    .banner-content h1 {
        margin-top: 20px;
        font-size: 2.5rem;

    }

    .banner-content p {
        margin-top: 8px;
        max-width: 400px;
        line-height: 19px;
    }
}